# Host configurations that should not be in git

Host *.stratokit.io
	ForwardAgent yes
Host mon
	HostName monitoring.stratokit.io

Host phd
	HostName phd1.perfecthealthdiet.com
	Port 86
	User wmertens

Host mancloud
	HostName 45.32.235.157
	User wout
	#Port 62103
	#DynamicForward 2000
	#LocalForward 2001 pma-v-fra01.mancloud.eu:443
	
Host mancloud-localdev
	HostName 78.20.28.22
	Port 3015


Host iso-installer
	HostName stratokit.io
	Port 2229
	User root
	ForwardAgent yes
	
Host yaska.eu
	HostName yaska.eu
	ForwardAgent yes
	User nixops

Host ojb
	#HostName ojb11.ddns.net
	HostName y53mzpxlt2pd9di4.myfritz.net
	Port 2223
	#HostName 192.168.178.177
	ForwardAgent yes
	
##### Nostalgia #####

Host fmwb
	HostName fmwb.org
	Port 222
	User wmertens

Host                    fmwbaws
	Port                    222
	HostName                ec2-52-6-231-199.compute-1.amazonaws.com

Host mini-wout.local miniwout.dyndns.org
	CheckHostIP no
	VerifyHostKeyDNS no
	#GSSAPITrustDNS yes

Host mini-wout
	HostName 83.101.90.105
	CheckHostIP no
	VerifyHostKeyDNS no

Host apache
	HostName apache.clearskies.private
	User woutm
Host wilsta1
	HostName staging1.willemot.clearskies.private
	User ladmin
Host wilsta2
	HostName staging2.willemot.clearskies.private
	User ladmin
Host wilprod1
	HostName 192.168.120.13
	User ladmin
Host wilprod2
	HostName 192.168.120.14
	User ladmin

Host graduaid
	HostName 20.0.20.210
	User woutm
	ForwardAgent yes

Host vcps
	HostName vcps.yaska.eu
	ForwardAgent yes

Host rfid
	HostName 79.133.210.57
	ForwardAgent yes

Host macos
	Hostname localhost
	Port 2222
	ForwardAgent yes

	Host devbox
	HostName 192.168.56.101
	ForwardAgent yes
